html, body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    height:100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main_container {
    flex: 1 0 auto;
}

#img-logo {
    margin:5px 0px;
    display: inline-block;
    text-align: center;
}

#footer_main {
    flex: 0 0 auto;
}

#header_main, #footer_main {
    background-color: #424242;
    #position: fixed;
    #z-index: 9999;
}

#main_menu {
    float:left;
    width:50%;
    text-align: left;
    height:100%;
    display: table;
}

#main_menu ul{
    display: table-cell;
    vertical-align: middle;
}

.main_menu_item_footer {
    margin-right: 15px !important;
}

.main_about_us_block {
    margin-top:80px;
}

.main_about_us_block_text {
    font-size:18px;
}

#reg_login_menu {
    float:right;
    width:50%;
    text-align: right;
    height:100%;
    display: table;
}

#reg_login_menu ul {
    display: table-cell;
    vertical-align: middle;
}

#log_reg_block a {
    text-decoration: none;
}

.header_menu_button {
    font-size: 18px;
    margin:24px;
    color:white;

}

.header_menu_button:hover {
    color: #007BFF;
}

.header_menu_button:active {
    color: #007BFF;
}



/*
#main_page_picture {
    #background-image: url(/application/images/club-highlights-bg6.jpg);
    #background-repeat:no-repeat;
    #background-size:cover;
    #background-position:center;
}*/

#main_picture_block {
    padding: 0px;
    height:600px;
    text-align: center;
    display:flex;
    background-image: url(/application/images/6522551.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

#main_picture_block #main_picture_subblock{
    color:white;
    margin:auto;
    width:100%;
    padding-left:80px;
    padding-right: 80px;
}



#main_picture_subblock h1{
    font-size:54px;
}

#main_picture_subblock h2 {
    font-size:26px;
}

/*
#main_picture_block img{
    width:100%;
    height:auto;
} */


/*
#main_picture_block img{
    opacity:0.5; -moz-opacity:0.8;
    filter:alpha(opacity=40);
}*/

/*
#main_picture_block h1{
    font-size:36px;
    color:white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */
/*
#main_picture_block p {
    font-size:26px;
    color:white;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-40%, -40%);

} */


#how_it_works, #main_people_title, #main_about_us_title {
    width:30%;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
    padding-top:100px;
    padding-bottom:15px;
}

#main_find_new_people {
    width:50%;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
    padding-top:100px;
    padding-bottom:65px;
}

#how_it_works_children_1, #main_people_title_children_1, #main_find_new_people_children_1, #main_about_us_title_children_1 {
    font-size:30px;
    font-weight: bold;
    display: inline-block;
}

#how_it_works_children_2, #main_find_new_people_children_2 {
    font-size:18px;
    display: inline-block;
}

.how_it_works_block {
    text-align: center;
    font-weight: bold;
}

.how_it_works_block img {
    display: block;
    margin: 0 auto;
}

.main_people_thumb {
    padding:10px 0px;
}

.main_people_wrapper {
    position:relative;
    z-index:0;
    max-height:350px;
}

.main_people_subwrapper {
    border:2px solid lightgrey;
    border-radius: 5px;
    max-width: 230px;
    margin:0 auto;
    background-color: #F7F7F7;
}

.main_people_pic {
    width:100%;
    max-height:230px;
    border-radius: 5px;
}

.badge-custom {
    background-color: #007bff;
    height:30px;
    font-size: 15px;
    padding:5px;
    border-radius: 5px;
    color:white;
    display:inline-block;
    margin:5px 0px;
    max-width: 100%;
    white-space: pre-wrap;
}

.main_hobbies_block {
    margin-top:15px;
    margin-bottom:5px;

}

.main_people_desc {
    padding:5px;
}

.main_people_desc p {
    margin-bottom: 0px;
}

main_people_desc > a {
    text-decoration: none;
    color:black;
}

.main_people_name {
    margin-bottom: 0px;
}

#main_show_all_people {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#main_show_all_people a {
    color:black;
    text-decoration: none;
}

#main_show_all_people a:hover {
    color: #007BFF;
}

#footer_subblock {
    height:80px;
}

#footer-menu {
    width:50%;
    height:100%;
    float:right;
    text-align: right;
    display: table;
}

#footer-menu ul {
    display: table-cell;
    vertical-align: middle;
}


#footer-menu a {
    color:white;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #007BFF;
}


#footer-socials {
    float:left;
    height:100%;
    display: table;
}

#footer-socials p {
    font-size:12px;
    color:white;
    margin: 5px 0px;
}
#footer-socials img {
    margin: 0px 3px;
    width:24px;
}

.social-button:hover{
    opacity:0.5;
}

#container-signin {
    width:65%;
    margin:0 auto;
}

#sigin_title {
    text-align: center;
}

#sigin_title h1 {
     font-size: 24px;
    font-weight: bold;
    padding:40px 0px;
    color:#464646;
}

#signin_main_fields_title, #signin_add_fields_title {
    background-color: #F5F5F5;
    display: table;
    height:95px;
}

#signin_main_fields_title p:nth-child(1){
     display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    width:100%;
}

#signin_add_fields_title p:nth-child(1){
    padding-top:20px;
    font-size: 18px;
    font-weight: bold;
}

#signin_add_fields_title p:nth-child(2){
    font-size: 14px;
    font-style: italic;
}

#signin_add_fields_title {
       background-color: #F5F5F5;
    display: table;
    height:95px;
}

#signin_block_for_upload_pic img {
    margin:5px;
    visibility: hidden;
}

#signin_main_title_hobby, #signin_main_title_file {
    margin-top:30px;
}

#signin_main_title_file {
    display: table;
}

#signin_main_title_file p {
    display: table-cell;
    vertical-align: middle;
}

#signin_main_title_hobby p:nth-child(1){
    font-size:16px;
    margin-bottom: 0px;
}

#signin_main_title_hobby p:nth-child(2){
    color:#999999;
    font-size:14px;
    margin-bottom: 5px;
}

#signin_block_hobby_button {
    padding-left:5px;
}

#signin_block_hobby_button #signin_add_hobby_tag {
    width:100%;
}

#signin_block_hobby_tags {
    margin-bottom:10px;
}

.sign_in_main_inputs {
    margin-top:20px;
}

#signin_block_hobby_tags .badge-custom {
    margin:5px;
}

.signin_remove_hobby_tag {
    padding:5px;
    cursor:pointer;
}

#signin_download_pic_title {
    padding: 30px 15px;
}

#signin_block_for_upload_pic {
    margin:10px 0px;
}
#signin_upl_pic_block_main {
    padding:10px 15px;
    margin-bottom:40px;
}

#signin_add_data_accordion {
    padding: 0px;
}

#signin_addtional_data_block select, #signin_addtional_data_block input {
   #width:95%;
    #margin:15px 15px;
}

.signin_icons {
    vertical-align: middle;
    padding:3px;
    line-height: 30px;
    border:1px solid #ced4da;
    background-color: #E3E3E3;
}

.signin_add_inputs_group {
    margin-top:10px;
    margin-bottom:10px;
    padding-right:15px;
    padding-left:15px;
}


.signin_accordion_menu {
    cursor:pointer;
}

#signin_additional_block {
    margin-top:20px;
}

#signin_additional_block p{
    font-size:16px;
    padding-left: 15px;
    margin-bottom: 0rem;
}

#signin_do_you_have_account {
    text-align: center;
    padding:30px 0px;
}

#signin_do_you_have_account a {
    text-decoration: none;
}

#signin_upload_pic_bar {
    margin: 10px 0px;
    display:none;
}

#signin_error_field {
    margin-top:20px;
    display:none;
}

#login_bottom_text {
    padding-top:20px;
}

#login_bottom_text a {
    text-decoration: none;
    color:#007BFF;
}

#login_submit_button_block {
   text-align: center;
}

#login_submit_button {
    width:150px;
}

#login_forgot_password_block {
    text-align: right;
    padding-top:25px;
    padding-bottom:5px;
}

#login_forgot_password_block span:hover {
    cursor:pointer;
    color:#007BFF;
}

#login_forgot_password_block span{
    color:#666666;
    font-size: 12px;
}

#login_error_field, #login_resotre_password_failed, #login_resotre_password_success {
    display: none;
}


#login_forgot_pass_dialog {
    padding:20px;
}

#login_forgot_pass_dialog_block {
    width:450px;
}

.login_user_header-icon {
    padding:0px 5px;
}

#login_form {
    margin:auto;
    width:40%
}

#main_dialog_inputs_block {
    width:600px;
    padding:20px;
}

#main_dialog_inputs_block .main_write_to_us_input{
    margin-bottom: 15px;
}

#userslist_main_title {
    margin-top:50px;
    margin-bottom:20px;
    margin-left: 10px;
    margin-right: 10px;
    padding:30px;
    background-color: #F5F5F5;
    position: relative;

}

#userslist_main_title h1{
    text-align: left;
    font-size:30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
}

#userlist_how_many_found {
   position: relative;
}

#userlist_how_many_found p {
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);
}
/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
   .header_menu_button {
        font-size:14px;
        margin:5px
    }

    #main_select_lang {
        margin:5px 0px;
    }

    #main_picture_block {
        height:400px;
    }

    .main_about_us_block_text {
        font-size:16px;
    }
    /*
    .main_people_subwrapper {
        max-width: 230px;
    } */

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

    #main_logo_block {
        #padding:0px;
        display:flex;
    }

    #img-logo {
        margin:auto;
    }

    #how_it_works {
        width:40%;
    }

   .main_about_us_block_text {
        font-size:14px;
    }

    /*
   .main_people_subwrapper {
       #max-width: 160px;
   }*/
  #login_form {
           width:50%;
       }

}

#user_list_signin_dialog {
    font-size:20px;
    font-weight:bold;
    padding:50px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
      .main_menu_item {
        display:block;
        margin-right:0px !important;
        }


    #main_find_new_people {
        width:60%;
    }

    #main_picture_subblock h1, #how_it_works_children_1{
        font-size:34px;
     }

       #main_picture_subblock h2, #how_it_works_children_2{
        font-size:22px;
     }

       #footer_subblock {
            height:150px;
        }

       #how_it_works {
           width:50%;
       }

       #signin_block_hobby_button {
           margin-top: 10px;
           padding-left: 15px;
       }

       #login_form {
           width:60%;
       }

   #main_dialog_inputs_block {
    width:500px;
    }

   #login_forgot_pass_dialog_block {
        width:350px;
    }

  .main_about_us_block_text {
        padding-top:20px;
        padding-bottom:20px;
    }

  .main_about_us_block {
      margin-top: 0px;
  }


}

/* Extra-Small devices */
@media (max-width: 575px) {
    #main_logo_block {
        display: none;
    }

    #main_find_new_people_children_1, #main_people_title_children_1, #how_it_works_children_1 {
        font-size:24px;
    }

    #how_it_works {
        width:70%;
    }

   #main_dialog_inputs_block {
        width:400px;
    }

   #main_about_us_title {
       width:40%;
   }

   #how_it_works, #main_people_title, #main_about_us_title {
        padding-top:50px;
    }

}
/* Extra-Small devices */
@media (max-width: 425px) {
    #main_find_new_people_children_1, #main_people_title_children_1, #how_it_works_children_1, #main_about_us_title_children_1 {
        font-size:20px;
    }

    #main_picture_subblock h2, #how_it_works_children_2{
        font-size:18px;
    }

    #main_picture_block #main_picture_subblock {
        padding-left:20px;
        padding-right:20px;
    }

    #main_find_new_people {
        width:80%;
    }

    #login_form {
       width:70%;
   }

    #login_forgot_pass_dialog_block {
        width:250px;
    }
   #main_dialog_inputs_block {
        width:300px;
    }

      #main_about_us_title {
       width:50%;
   }


}






.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f0d8";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0d7";
}


.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
    padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}
.ui-helper-hidden-accessible {
    display: none;
}
